fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
langchain-openai
langchain-pinecone
langchain-core
langchain
langchain-community
langgraph
pinecone
celery
redis
pika
pymupdf
python-docx
python-multipart
langchain-google-genai

